<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div style="width: 70%; align-content: center; " class="container">
    <h5 th:text = "${applicationRequest.isHandled()} == 0 ?  'Обработанная заявка' : '*** Новая необработанная заявка ***'"
        th:style = "${applicationRequest.isHandled()} == 0 ? 'color: green' : 'color: red'"
    ></h5>
</div>

<div class="container" style="width: 70%; align-content: center">

    <form class="form-container" method="post" >

        <label>ФИО:</label>
        <input class="form-control" type="text" name="name" th:value="${applicationRequest.getUserName()}">

        <label>Курс:</label>
        <select name="course" >
            <option></option>
            <option></option>
            <option></option>
        </select>
        <br>

        <label>Телефон:</label>
        <input class="form-control" type="text" name="phone" th:value="${applicationRequest.getPhone()}">

        <label>Комментарии:</label>
        <textarea class="form-control" rows="5" name="commentary" th:value="${applicationRequest.getCommentary()}"></textarea>

        <button type="submit" class="btn btn-success" name="action" value="obrabotka">Обработать заявку</button>
        <button type="submit" class="btn btn-danger" name="action" value="delete" >Удалить заявку</button>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>